body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin-top: 200px;
  }

  .btn {
    display: block;
    border: 5px solid white;
    padding: 10px 20px;
    
    color: white;
    text-decoration: none;
  
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  
  .btn1:hover {
    color: black;
    background-color: white;
  }
  
 .btn2:hover {
    transform: scale(2.2);
  }
  
  .btn3:hover {
    color: black;
    background-color: white;
    transform: translatex(100%);
  }